<p>Hello Contacts</p>
<%= form_with(model: @contact, local: true) do |form| %>
<div class='contact_title'>
  <%= form.label :title %>
  <br>
  <%= form.text_field :title %>
</div>
<div class='contact_title'>
  <%= form.label :mail %>
  <br>
  <%= form.email_field :title %>
</div>
<div class='contact_title'>
  <%= form.label :contact %>
  <br>
  <%= form.text_field :contact %>
</div>
<%= form.submit %>
<% end %>
